* {
  margin: 0;
  padding: 0;
}
body {
  padding: 20px;
  font-family: arial;
  color: white;
  background-color: #0c1126;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  margin-top: 30px;
  text-align: center;
}
.heading h1 {
  font-size: 2.3em;
  font-weight: 600;
  line-height: 60px;
}
.searchContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff0f;
  width: 100%;
  max-width: 50%;
  height: 54px;
  border-radius: 20px;
}
.placeholderSearch {
  margin: 20px;
  width: 20px;
}
.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.searchContainer input {
  outline: none;
  border: none;
  width: 26vw;
  height: 54px;
  background-color: transparent;
  font-size: 16px;
  color: white;
}

::placeholder {
  color: white;
}
#searchBtn {
  background-color: white !important;
  padding: 10px;
  border-radius: 10px;
}
button {
  border: none;
}
.filters img:nth-child(2) {
  width: 45px !important;
}
/* styling item */

#result {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  border-radius: 20px;
  width: 292px;
  /* border: 2px solid whitesmoke; */
}

.item img {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 292px;
  height: 250px;
}
.item h3 {
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.genre {
  /* border: 1.5px solid white; */
  border-radius: 20px;
  padding: 7px 15px;
  font-size: 12px;
  background-color: #323750;
  font-weight: bold;
}
.genres {
  display: flex;
  gap: 0 5px;
  flex-wrap: wrap;
}

.info {
  padding: 20px 0 0 20px;
  font-size: 16px;
  background-color: #ffffff0f;
  color: white;
  border-radius: 0 0 20px 20px;
  min-height: 110px;
}
.footer {
  margin-top: 70px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #ffffff85;
}
@media screen and (max-width: 1000px) {
  .searchContainer {
    max-width: 100%;
  }
}
